/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  background-color: #E0E0E0;
  /* The html and body elements cannot have any padding or margin. */
}



/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

.center{
  text-align: center;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 60px 15px 0;
}
#footer .container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

/*----*/
.box{
  border-radius:3px;
  box-shadow:0px 1px 5px rgba(0,0,0,0.15);
  border-bottom:1px solid #E2E2E9;
  margin-bottom:20px;
  background-color:#fff;
  padding-top: 8px;
  padding-bottom: 8px;
}
.box .box-title{
  padding: 3px;
  margin-left: 10px;
}

.box .box-line{
  height: 1px;
  background-color: #eee;
  margin-bottom: 5px;
  margin-top: 5px;
}
.box .box-content{
  padding-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.tableview{
  margin-top: 10px;
}
.tableview .cell{
  height: 66px;
  margin-bottom: 5px;
}
.tableview .cell:hover{background:#f6f6f6}
.tableview .cell .headimage{
  width: 60px;
  height: 60px;
  margin-left: 5px;
  margin-top: 3px;
}
.tableview .cell .detail{
  margin-left: 10px;
}
.tableview .cell .detail .title{
  margin-top: 10px;
  font-size: 18px;
}
.tableview .cell .detail .meta{
  margin-top: 6px;
  font-size: 12px;
}
.tableview .cell .reply_count{
  margin-right: 15px;
  margin-top: 15px;
  background-color: #428bca;
  width: 25px;
  height: 25px;
  text-align: center;
  padding-top: 4px;
  font-size: 13px;
　border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}
.tableview .cell .reply_count a{
  color: #fff;
}

.breadcrumb{
  margin-bottom: 1px;
  background-color: #fff;
}
.breadcrumb .new-btn{
  margin-top: -5px;
}
.topic_breadcrumb{
  margin-left: 10px;
  color: #999;
}
.topic_breadcrumb a{
  color: #999;
}
.pager{
  margin: 8px;
  margin-top: 15px;
}

/* --- Node --- */
.node{
  font-size:12px;
  line-height: 10px;
  display: inline-block;  
  color: #999;
  padding: 2px 4px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  text-decoration: none;
  background: #f5f5f5;
}

.node-panel{
  list-style: none;
}
.node-panel .node-line{
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
  padding-bottom: 5px;
}
.node-panel .category-name{
  font-weight: bold;
}

.node-panel .node-name{
  margin-right: 10px;
}

/* --- Subject Detail --- */
.subject-title{
  margin-top:10px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 25px;
}
.subject-meta{
  margin-top: 5px;
  margin-left: 8px;
  font-size: 12px;
}
.subject-meta a{
  color: #999;
}

.subject-headimg{
  margin-right: 10px;
  width: 60px;
  height: 60px;
}
.subject-content{
  margin: 20px;
}


/* --- reply --- */
.comment{
  margin-top: 10px;
}

.comment .headimage{
  margin-left: 10px;
  width: 60px;
  height: 60px;
}
.comment .content{
  margin-top: 5px;
}
.comment .datetime{
  margin-left: 10px;
  font-size: 13px;
}
.comment .cell{
  height: auto;
  margin: 10px;
}

.reply .text{
  margin:10px;
}
.reply .submit-btn{
  margin-top: 10px;
}

/* --- right ---*/

.right-bar{
  margin-bottom: 20px;
  padding-right: 10px;
  width: 300px;
}
.right-bar .title{
  margin-left: 10px;
}
.right-bar .content{
  margin-left: 10px;
}

.userinfo .username{
  font-size: 25px;
}
.userinfo .td-line{
  border-left: 1px solid #ccc; 
  border-right: 1px solid #ccc;
}
.userinfo .notice{
  margin-top: 10px;
  font-size: 13px;
}
.userinfo .notice  a{
  color: #999;
}

.notice-cell{
  padding: 10px;
  padding-top: 10px;
  border-bottom: #eee solid 1px;
}