
{% extends "base.html" %}

{% block title %}用户榜 - {% endblock %}

{% load humanize %}
{% load gravatar %}

{% block content %}

<div class="panel panel-default">
    <div class="panel-heading">用户活跃榜</div>
    <div class="panel-body row">
    {% for user in au_list %}
    <div class="col-xs-4 col-md-3 col-lg-2 au-user">
    	<a href="{% url 'user:user' user.id %}">
	        <img width="48" height="48" src="{% gravatar user 48 %}" class="img-responsive center-block" alt="{{ user.username }}">
	        <span>{{ user.username }}</span>
        </a>
    </div>
    {% endfor %}
    </div>
    <div class="panel-footer">
        共有 {{user_count}} 位会员加入了NSLoger
    </div>
</div>

{% endblock %}
