{% extends "base.html" %}

{% block title %}找回密码 - {% endblock %}

{% load humanize %}

{% block content %}
            <div class="panel panel-default">
              <div class="panel-heading">找回密码</div>
              <div class="panel-body">
                    <form class="form-horizontal" action="{% url 'user:find_pass' %}" method='POST'>
                      {% csrf_token %}
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">邮箱：</label>
                        <div class="col-sm-5">
                          <input type="email" class="form-control" name="email" value="">
                        </div>
                    </div>
                        <div class="form-group">
                          <div class="col-sm-offset-3 col-sm-10">
                            <button type="submit" class="btn btn-default">发送邮件</button>
                          </div>
                        </div>
                    </form>
                </div>
              </div>
{% endblock %}
