{% extends "base.html" %}

{% block title %}修改密码 - {% endblock %}

{% load humanize %}

{% block content %}
            <div class="panel panel-default">
              <div class="panel-heading">修改密码</div>
              <div class="panel-body">
                  <form action="{% url 'user:password' %}" method='POST' class="form-horizontal">{% csrf_token %}
                  {% for field in form %}
                  <div class="form-group">
                      <label for="{{ field.id }}" class="col-sm-2 control-label">{{ field.label }}：</label>
                      <div class="col-sm-4">
                        {{ field }}
                        {% if field.help_text %}<span class="help-block">{{field.help_text}}</span>{% endif %}
                      </div>
                        {% if field.errors %}
                            <label>
                              <ul class="list-inline">
                                {% for item in field.errors %}
                                    <li><p class="form-control-static text-danger">{{item}}</p></li>
                                {% endfor %}
                              </ul>
                            </label>
                      {% endif %}
                  </div>
                  {% endfor %}
                <div class="form-group">
                          <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">修改</button>
                          </div>
                        </div>
                </form>
              </div>
            </div>
{% endblock %}
