{% extends "base.html" %}

{% block title %}注册 - {% endblock %}

{% load humanize %}

{% block content %}
              <div class="panel panel-default">
                <div class="panel-heading">注册</div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form" action="{% url 'user:register' %}" method="POST">
                      {% csrf_token %}
                      {% for field in form %}
                      <div class="form-group">
                        <label for="{{ field.id }}" class="col-sm-3 control-label">{{ field.label }}：</label>
                        <div class="col-sm-5">
                          <input type="{%if forloop.counter == 1 %}text{% elif forloop.counter == 2 or forloop.counter == 3 %}password{% elif forloop.counter == 4 %}email{% endif %}" class="form-control" name="{{ field.html_name }}" value="{{ field.value |default_if_none:""}}">
                          {% if field.help_text %}
                            <span class="help-block">{{field.help_text}}</span>
                          {% endif %}
                        </div>
                        <div class="col-sm-4">
                          {% if field.errors %}
                            <label>
                              <ul class="list-inline">
                              {% for item in field.errors %}
                                  <li><p class="form-control-static text-danger">{{item}}</p></li>
                              {% endfor %}
                              </ul>
                            </label>
                        {% endif %}
                        </div>
                      </div>
                      {% endfor %}
                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                          <button type="submit" class="btn btn-default">注册</button>
                        </div>
                      </div>
                    </form>
                  </div>
              </div>
{% endblock %}
