{% extends "base.html" %}

{% block title %}重置密码 - {% endblock %}

{% load humanize %}

{% block content %}
            <div class="panel panel-default">
              <div class="panel-heading">重置密码</div>
              <div class="panel-body">
                    <form class="form-horizontal" action="{% url 'user:reset_password' %}" method='POST'>
                      {% csrf_token %}

                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">请输入新密码</label>
                        <div class="col-sm-5">
                          <input type="password" class="form-control" name="password">
                        </div>
                    </div>

                        <div class="form-group">
                          <div class="col-sm-offset-3 col-sm-10">
                            <button type="submit" class="btn btn-default">重置</button>
                          </div>
                        </div>
                    </form>
                </div>
              </div>
{% endblock %}
