{% extends "base.html" %}

{% block title %}设置 - {% endblock %}

{% load humanize %}
{% load gravatar %}

{% block content %}
{% if not user.is_email_verified %}
<form id="send_email_form" action="{% url 'user:send_verified_email' %}" method='POST'>{% csrf_token %}
<script>
    $(function(){
            $("#send_verified_email").click(function(){
            $("#send_email_form").submit()
            });
    });
</script>
</form>
{% endif %}
            <div class="panel panel-default">
                <div class="panel-heading">个人设置
{% if not user.is_email_verified %}
                    <a href="#" id="send_verified_email" class="btn btn-info btn-xs pull-right">验证邮箱</a>
{% endif %}
                </div>
                <div class="panel-body">
                  <form action="{% url 'user:settings' %}" method='POST' class="form-horizontal">{% csrf_token %}
                  {% for field in form %}
                  <div class="form-group">
                      <label for="{{ field.id }}" class="col-sm-3 control-label">{{ field.label }}：</label>
                      <div class="col-sm-5">
                      {% if forloop.counter == 2 %}
                        <div class="input-group">
                          <span class="input-group-addon">weibo.com/</span>
                          <input type="text" class="form-control" name="{{ field.html_name }}" value="{{ field.value }}">
                        </div>
                      {% elif forloop.counter == 3 %}
                        <div class="input-group">
                          <span class="input-group-addon">http://</span>
                          <input type="text" class="form-control" name="{{ field.html_name }}" value="{{ field.value }}">
                        </div>
                      {% else %}
                          {{ field }}
                      {% endif %}
                      {% if field.help_text %}<span class="help-block">{{ field.help_text }}</span>{% endif %}
                      </div>
                      {% if field.errors %}
                      <label>
                        <ul class="list-inline">
                        {% for item in field.errors %}
                            <li><p class="form-control-static text-danger">{{ item }}</p></li>
                        {% endfor %}
                        </ul>
                      </label>
                      {% endif %}
                  </div>
                  {% endfor %}
                        <div class="form-group">
                          <div class="col-sm-offset-3 col-sm-10">
                            <button type="submit" class="btn btn-default">修改</button>
                          </div>
                        </div>
                </form>
                </div>
              </div>
            <div class="panel panel-default">
                <div class="panel-heading">头像设置
                    <a href="{% url 'user:delete_headimage' %}" class="btn btn-warning btn-xs pull-right">删除邮箱</a>
              </div>
                <div class="panel-body headimage_setting">
                    <!-- upload -->
                    <form class="form-horizontal" method="post" action="http://up.qiniu.com/" enctype="multipart/form-data">
                      <input name="key" type="hidden" value="avatar/{{ user.username }}">
                      <input name="token" type="hidden" value="{{uptoken}}">
                      
                      <div class="form-group">
                        <label class="col-xs-4 col-sm-3 control-label">当前头像：</label>
                        <div class="col-xs-8 col-sm-3"><img  width="48" height="48" src="{% gravatar user 48 %}" /></div>
                      </div>

                      <div class="form-group">
                        <label class="col-xs-4 col-sm-3 control-label">选择一张图片：</label>
                        <input class="col-xs-8 col-sm-8 file_input" name="file" type="file" accept="image/jpeg, image/png" />
                      </div>
                      <div class="form-group">
                        <label class="col-xs-4 col-sm-3"></label>
                        <span class="help-block col-xs-8 col-sm-8">上传限制：PNG/JPG 300KB (未上传则自动抓取邮箱对应<a href="http://cn.gravatar.com" target="_blank">Gravatar头像</a>)</span>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-10">
                          <button type="submit" class="btn btn-default">上传</button>
                        </div>
                      </div>
                    </form>
                    <!-- upload -->
                  </div>
            </div>
{% endblock %}
