
{% extends "base.html" %}

{% load humanize %}

{% block content %}
                <div class="box">
                  <div class="box-title">个人设置</div>
                  <div class="box-line"></div>
                  {% if messages %}
                    <div class="alert alert-info" style="margin:10px">
                        {% for message in messages %}{{ message }}{% endfor %}
                    </div>
                  {% endif %}
                  <form action="{% url 'user:settings' %}" method='POST' class="form-horizontal">{% csrf_token %}
                  {% for field in form %}
                  <div class="form-group">
                      <label for="{{ field.id }}" class="col-sm-3 control-label">{{ field.label }}：</label>
                      <div class="col-sm-5">
                      {{ field }}
                      {% if field.help_text %}<span class="help-block">{{ field.help_text }}</span>{% endif %}
                      </div>
                      {% if field.errors %}
                      <label>
                        <ul class="list-inline">
                        {% for item in field.errors %}
                            <li><p class="form-control-static text-danger">{{ item }}</p></li>
                        {% endfor %}
                        </ul>
                      </label>
                      {% endif %}
                  </div>
                  {% endfor %}
                        <div class="form-group">
                          <div class="col-sm-offset-3 col-sm-10">
                            <button type="submit" class="btn btn-default">登陆</button>
                          </div>
                        </div>
                </form>
              </div>
{% endblock %}
