{% extends "base.html" %}

{% block title %}{{ user_from_id.username }} - {% endblock %}

{% load humanize %}
{% load gravatar %}
{% load bbstag %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-body userpage">
        <div class="row">
            <div class="col-md-3">
                <img width="120" height="120" src="{% gravatar user_from_id 120 %}" class="img-responsive center-block" alt="{{ user_from_id.username }}">
            </div>
            <div class="col-md-9">
                <strong class="username">{{ user_from_id.username }}</strong>
                {% if user.is_authenticated %}
                {% if user_a.id != user_from_id.id %}
                <div class="pull-right">
                    {% if not follower %}
                    <form action="{% url 'user:follow' user_from_id.id %}" method=POST>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-default">关注</button>
                    </form>
                    {% else %}
                    <form action="{% url 'user:unfollow' user_from_id.id %}" method=POST>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-default">取消关注</button>
                    </form>
                    {% endif %}
                </div>
                {% endif %}
                {% endif %}
                <p>NSLoger 第 {{ user_from_id.id }} 名会员，加入于 {{ user_from_id.date_joined|date:'Y-m-d H:i:s' }}</p>
            </div>
            <div class="col-md-12 p-info">
            </br>
            {% if user_from_id.location %}
                <p> <strong>位置：</strong>{{ user_from_id.location }}</p>
            {% endif %}
            {% if user_from_id.weibo_id %}
                <p> <strong>微博：</strong><a href="http://weibo.com/{{ user_from_id.weibo_id }}" target='_blank'>{{ user_from_id.weibo_id }}</a></p>
            {% endif %}
            {% if user_from_id.blog %}
                <p> <strong>博客：</strong><a href="http://{{ user_from_id.blog }}" target='_blank'>{{ user_from_id.blog }}</a></p>
            {% endif %}
            {% if user_from_id.profile %}
                <blockquote class="pull-right">
                  <p>{{ user_from_id.profile }}</p>
                  <small>{{ user_from_id.username }}</small>
                </blockquote>
            {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">最近创建的主题</div>
  <div class="panel-body tableview">
    {% for topic in topic_list %}
        {% include "people/user_topics_cell.html" %}
    {% endfor %}
    </div>
    <div class="panel-footer">
        <a href="{% url 'user:user_topics' user_from_id.id %}">» {{ user_from_id.username }} 创建的更多主题</a>
    </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">最近回复的主题</div>
  <div class="panel-body comment-tableview">
    {% for comment in comment_list %}
        {% include "people/user_comments_cell.html" %}
    {% endfor %}
  </div>
    <div class="panel-footer">
        <a href="{% url 'user:user_comments' user_from_id.id %}">» {{ user_from_id.username }} 创建的更多回复</a>
    </div>
</div>

{% endblock %}
