{% extends "base.html" %}

{% load humanize %}
{% load gravatar %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-body userpage">
        <div class="row">
            <div class="col-md-2">
                <img width="60" height="60" src="{% gravatar user_from_id.email 60 %}" class="img-responsive center-block" alt="{{ user_from_id.username }}">
            </div>
            <div class="col-md-10">
                <strong>{{ user_from_id.username }}</strong>
                <p>NSLoger 第 {{ user_from_id.id }} 名会员，加入于 {{ user_from_id.date_joined|date:'Y-m-d H:i:s' }}</p>
            </div>
            <div class="col-md-12 p-info">
            </br>
            {% if user_from_id.location %}
                <p> <strong>位置：</strong>{{ user_from_id.location }}</p>
            {% endif %}
            {% if user_from_id.weibo_id %}
                <p> <strong>微博：</strong><a href="http://weibo.com/{{ user_from_id.weibo_id }}">{{ user_from_id.weibo_id }}</a></p>
            {% endif %}
            {% if user_from_id.blog %}
                <p> <strong>博客：</strong><a href="{{ user_from_id.blog }}">{{ user_from_id.blog }}</a></p>
            {% endif %}
            {% if user_from_id.profile %}
                <blockquote class="pull-right">
                  <p>{{ user_from_id.profile }}</p>
                  <small>{{ user_from_id.username }}</small>
                </blockquote>
            {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">最近创建的主题</div>
  <div class="panel-body tableview">
    {% for topic in topic_list %}
    <div class="cell">
        <div class="detail" style="padding-left:0px;">
            <div class="pull-right">
                <div class="badge badge-info">
                    <a href="{% url 'bbs:topic' topic.id %}">
                        {{ topic.num_comments }}
                    </a>
                </div>
            </div>
            <a href="{% url 'bbs:topic' topic.id %}" class="title">
                {{topic.title}}
            </a>
            <div class="meta">
                <a href="{% url 'bbs:node' topic.node.slug %}" class="node">
                    {{ topic.node.name }}
                </a>
                <span class="text-muted">
                    •
                </span>
                <a href="{% url 'user:user' topic.author.id %}" title="{{ topic.author }}">
                    {{ topic.author }}
                </a>
                <span class="text-muted">
                    •
                </span>
                {{ topic.created_on|naturaltime }}
                <span class="text-muted">
                    •
                </span>
                最后回复来自
                <a href="{% url 'user:user' topic.last_reply.id %}"  title="{{ topic.last_reply }}">
                    {{ topic.last_reply }}
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
