<script src="http://cdn.staticfile.org/epiceditor/0.2.2/js/epiceditor.min.js"></script>
<script>

var opts = {
  container: 'epiceditor',
  textarea: 'content',
  basePath: 'http://cdn.staticfile.org/epiceditor/0.2.2/',
  clientSideStorage: false,
  localStorageName: null,
  useNativeFullscreen: false,
  parser: marked,
  file: {
    name: 'content',
    defaultContent: '',
    autoSave: false
  },
  theme: {
    base: '/themes/base/epiceditor.css',
    preview: '/themes/preview/github.css',
    editor: '/themes/editor/epic-light.css'
  },
  button: {
    preview: true,
    fullscreen: false,
    bar: "auto"
  },
  focusOnLoad: false,
  shortcut: {
    modifier: 18,
    fullscreen: 70,
    preview: 80
  },
  string: {
    togglePreview: '切换预览模式',
    toggleEdit: '切换编辑模式',
    toggleFullscreen: '进入全屏模式'
  },
  autogrow: {
    minHeight:200
  }
}
var editor = new EpicEditor(opts).load();
</script>