{% extends "base.html" %}

{% load humanize %}


{% block content %}
                <div class="box">
                  <div class="pull-left">
                    <div class="subject-title">{{ topic.title }}</div>
                    <div class="subject-meta text-muted">
                      <a href="#">{{ topic.user}}</a> 发表于 {{ topic.created_on|naturaltime }} | {{ topic.num_views }} 次点击
                    </div>
                  </div>
                  <div class="subject-headimg pull-right"><img src="http://www.startbbs.com/uploads/avatar/default.jpg" /></div>
                  <div class="clearfix"></div>
                  <div class="box-line"></div>
                  <div class="subject-content">
                    {{ topic.content }}
                  </div>
                </div>
{% endblock %}


{% block reply %}
                <div class="box comment">
                  <div class="box-title">{{ comment_list.count }} 回复</div>
                  <div class="box-line"></div>
                  {% for comment in comment_list %}
                  <div class="cell">
                      <table border="0" cellpadding="0" cellspacing="0" width="100%">
                      <tbody><tr>
                      <td valign="top" width="48">
                      <a href="#" title="{{ reply.user }}">
                        <img src="http://www.startbbs.com/uploads/avatar/default.jpg">
                      </a>
                      </td>
                      <td width="10"></td>
                      <td valign="top" width="auto">
                      <div class="pull-right">
                      <span class="text-muted">
                        #1 - <a href="#" onclick="">回复</a>
                      </span>
                      </div>
                        <a href="#">{{ comment.author}}</a>
                      <span class="datetime text-muted">{{ comment.created_on|naturaltime }}</span>
                        <div class="content reply_content">{{ comment.content }}</div>
                        <div class="pull-right">
                      </div>
                      </td>
                      </tr>
                      </tbody></table>
                  </div>
                  {% endfor %}
                </div>

                <div class="box reply">
                  <div class="box-title">回复</div>
                  <div class="box-line"></div>
                  {% if user.is_authenticated %}
                    <div>
                      <form class="text" action="{% url 'bbs:reply' topic.id %}" method="post">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form-group">
                          <textarea class="form-control" rows="5"></textarea>
                        </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-default submit-btn">回复</button>
                      </form>
                    </div>
                  {% else %}
                    登陆去吧，骚年！
                  {% endif %}
                </div>
{% endblock %}
