{% extends "base.html" %}

{% load humanize %}
{% load gravatar %}

{% block content %}
                <div class="box">
                  <div class="pull-left">
                    <div class="topic_breadcrumb">
                      <a href="/">NSLoger</a>  ›   <a href="{% url 'bbs:node' topic.node.slug %}">node</a> 
                    </div>
                    <div class="subject-title">{{ topic.title }}</div>
                    <div class="subject-meta text-muted">
                      By <a href="#">{{ topic.author.username }}</a> · {{ topic.created_on|naturaltime }} · {{ topic.num_views }} 次点击
                    </div>
                  </div>
                  <div class="subject-headimg pull-right"><img src="{% gravatar topic.author 60 %}" /></div>
                  <div class="clearfix"></div>
                  <div class="box-line"></div>
                  <div class="subject-content">
                    {{ topic.content }}
                  </div>
                </div>
{% endblock %}


{% block reply %}
                <div class="box comment">
                  <div class="box-title">{{ comment_list.count }} 回复</div>
                  <div class="box-line"></div>
                  {% for comment in comment_list %}
                  <div class="cell">
                      <table border="0" cellpadding="0" cellspacing="0" width="100%">
                      <tbody><tr>
                      <td valign="top" width="48">
                      <a href="{% url 'user:user' comment.author.id %}" title="{{ comment.author.username }}">
                        <img src="{% gravatar comment.author 60 %}">
                      </a>
                      </td>
                      <td width="10"></td>
                      <td valign="top" width="auto">
                      <div class="pull-right">
                      <span class="text-muted">
                        #{{forloop.counter}} - <a href="#" onclick="">回复</a>
                      </span>
                      </div>
                        <a href="{% url 'user:user' comment.author.id %}">{{ comment.author}}</a>
                      <span class="datetime text-muted">{{ comment.created_on|naturaltime }}</span>
                        <div class="content reply_content">{{ comment.content }}</div>
                        <div class="pull-right">
                      </div>
                      </td>
                      </tr>
                      </tbody></table>
                  </div>
                  {% endfor %}
                </div>

                <div class="box reply">
                  <div class="box-title">回复</div>
                  <div class="box-line"></div>
                  {% if user.is_authenticated %}
                    <div>
                      <form class="text" action="{% url 'bbs:reply' topic.id %}" method="post">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form-group">
                          <textarea name="{{ field.html_name }}" class="form-control" rows="5"></textarea>
                        </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-default submit-btn">回复</button>
                      </form>
                    </div>
                  {% else %}
                    <div class="box-content userinfo">
                      <div class="center">
                      <p><a href="/accounts/register/" class="btn btn-default">现在注册</a></p>
                      <p>已注册用户请 <a href="/accounts/login/">登陆</a></p>
                      </div>
                      </div>
                  {% endif %}
                </div>
{% endblock %}
