{% load gravatar %}
{% load bbstag %}
<div class="comment" id="comment{% page_item_idx paginator comment_list.number forloop %}">
  <table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tbody><tr>
  <td valign="top" width="48">
  <a href="{% url 'user:user' comment.author.id %}" title="{{ comment.author.username }}">
    <img height="48" width="48" src="{% gravatar comment.author 48 %}">
  </a>
  </td>
  <td width="10"></td>
  <td valign="top" width="auto">
    {% if user.is_authenticated %}
    <div class="pull-right">
      <span class="text-muted">
        <a href="#reply_content" onclick="replyOne('{{comment.author}}','{{forloop.counter}}');">回复</a>
      </span>
    </div>
    {% endif %}
    <div>{{forloop.counter|length }}
      <span class="name"><a href="{% url 'user:user' comment.author.id %}">{{ comment.author}}</a></span>
      <span class="datetime text-muted">{% page_item_idx paginator comment_list.number forloop %}楼 , {{ comment.created_on|time_to_now}}</span>
      <div class="content reply_content">{{ comment.content|my_markdown:"comment" }}</div>
    </div>
  </td>
  </tr>
  </tbody></table>
</div>